body {
	font-family: Helvetica, sans-serif;
    margin: 0;
	padding: 0;
	color: #000;
    text-align: center;
}
.nav {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 75px;
	width: 100%;
}
.nav ul {
    margin: 0 auto;
    padding: 0;
}
.nav li {
	list-style-type: none;
	font-size: 22px;
    font-weight: bold;
	margin: 0 0 0 -4px;
	text-align: center;
	display: inline-block;
	padding: 26px 0 0;
    text-transform: uppercase;
}
.nav li {
	height: 50px;
}
.about {
	width: 150px;
}
.massage {
    width: 175px;
}
.ratesterms {
    width: 225px;
}
.highlight, .nav li:hover {
    background: black;
    color: white;
}
p {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}
h1 {
	font-size: 18px;
	font-family: Helvetica, sans–serif;
	font-weight: normal;
}
a img {
	border: none;
}
a:link {
	color:black;
	text-decoration: none; 
}
.container {
	width: 100%;
	background: #FFF;
	margin: 0 auto;
}

.header {
	padding-top: 80px;
	padding-bottom: 50px;
	height: 75px;
	text-align: center;
	font-family: Helvetica "sans-serif";
}
.sidebar {
	width: 200px;
	text-align:right;
	position:absolute;
	left: -250px;
    top: -16px;
}
.main {
	width: 500px;
	margin: -20px auto 0;
	position:relative;
}
.content {
	width: 500px;
    text-align: justify;
    margin-top: 50px;
}
.masthead 
{
    width: 400;
    height: 75px;
    background-image: url(masthead.gif);
    text-indent: -9999px;
    margin: 75px auto 50px;
}